#logo {
    margin: 10px;
}

#textBox_Message {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    resize: none;
    background-color: #f8f8f8;
    border-radius: 1px;
    box-sizing: border-box;
}

#textBox_UserName {
    margin-bottom: 10px;
    border-radius: 1px;
}


h1.title {
    /*font-family: "Lucida Console", lucida, monospace;*/
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: "Nunito Sans",Helvetica,Arial,Lucida,sans-serif;*/
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
}

h2.title {
    /*font-family: "Lucida Console", lucida, monospace;*/
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: "Nunito Sans",Helvetica,Arial,Lucida,sans-serif;*/
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #6B6B6B;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: lowercase;
}

ul.information {
    /*font-family: "Lucida Console", lucida, monospace;*/
    font-family: Arial, Helvetica, sans-serif;
    color: #BBBBBB;
}

.button {
    background-color: #ff9999;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    /*display: inlixne-block;*/
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    border-radius: 2px;
}

    .button:hover {
        background-color: #ffe6e6;
        color: #ff6666;
    }

.informations{
    /*TODO : Aligner les élements avec le reste des blocs*/
}

/*Centre tous les éléments*/
div.col-lg-6 {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
}

/*TexteBox username*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}